*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(37, 150, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box{
    width: 40%;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 2px solid black;
}
.row{
    padding: 10px;
    font-size: 1.2rem;
}

#submit{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    background-color: blue;
    color: white;
}
/* .logo{
    color: rgb(44, 200, 62);
    text-decoration: dotted;
    border: 5px solid rgb(162, 43, 43);
    border-radius: 20px;
} */
